.navbar {
  background: #343a40;
  .nav_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    .nav_logo_img {
      width: 80px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .nav_logo {
      a {
        display: flex;
        gap: 15px;
        align-items: center;
        text-decoration: none;
      }
    }

    .nav_text {
      p {
        color: #fff;
        font-size: 20px;
        max-width: 400px;
        text-align: right;
      }
    }

    .nav_btn {
      position: relative;
      width: 30px;
      height: 30px;
      display: block;
      cursor: pointer;
      z-index: 20;
      span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: 0.4s;
      }
      &::after,
      &::before {
        position: absolute;
        width: 100%;
        height: 2px;
        content: "";
        background: #fff;
        transition: 0.4s;
      }
      &::after {
        top: 10px;
      }
      &::before {
        top: 20px;
      }
      &.active {
        span {
          width: 0%;
        }
        &::after {
          transform: rotate(45deg);
        }
        &::before {
          top: 10px;
          transform: rotate(135deg);
        }
      }
    }
  }
}
