*{
    margin: 0;
    padding:0;
    text-align: center;
} 

.container {
    display: flex;
    flex-direction: column;
    align: center;
    
}

h1 {
    font-size: 8em;
    color: #333;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.notFound_text {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    
}

.notFoundLink {
    text-decoration: none;
    background-color: gray;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
    margin-left: auto;
    margin-right: auto;
    width: 6em;

    &:hover{
        background-color: grayscale($color: #000000);
    }
}


