


.block_1 {
  margin-left: 20px;
  background-color: gray;
  border: 5px solid #ccc;
  border-radius: 10px;
  padding: 100px;
  weight: 100px;
  margin: 80px;
}
.block_1,
h2 {
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
.block_1 {
  text-indent: 15px;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.block_3 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 50px;
  text-indent: 350px;
}

.block_1 p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.block_parent {
  display: flex;
  max-width: 600px;
  justify-content: center;
  margin: 0 auto;
  .block {
    margin-left: 20px;
    margin: 20px 55px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 35px;
    max-width: 350px;
    font-size: 15px;
    width: 30%;
    flex: 0 0 calc(50% - 20px);
    text-align: center;
    background-color: #ccc;
    h2{
        margin-bottom: 20px;
    }
  }
}

.block2 {
  text-align: center;
  float: left;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 150px;
  margin: 150px;
  font-size: 15px;
  width: 95%;
  margin-left: 20px;
}

.block3 {
  padding-inline: 66px;
  display: inline-block;
  margin: 150px 50px;
  padding: 50px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 50px 15px;
  font-size: 15px;
  width: 75%;
  margin-left: 0px;
}

/* Стилизация элементов внутри блоков */
.item {
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
